.main {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #ffffff;
    height: 200px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    box-shadow: 1px 10px 19px -2px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 1px 10px 19px -2px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 1px 10px 19px -2px rgba(0, 0, 0, 0.48);
    font-size: 14px;
  }

  .background {
    width: 400px;
    height: 300px;

  }

  .mainButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .message {
    padding-left: 40px;
    font-size: 12px;
  }

  .headerMessage {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    color: #030a0c;
    font-size: 16px;
    font-family: 'Poppins Bold';
  }
  .button1,
  .button2 {
    all: unset;
    border-radius: 5px;
    margin: 16px 8px;
    padding: 6px 40px;
    transition: background-color 0.3s ease;
  }
  .button1 {
    background-color: #ffffff;
    border: 1px solid #030a0c;
  }
  .button2 {
    color: #ffffff;
    background-color: #ee5417;
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 2px #ee5417;
  }

  .button1:hover {
    background-color: #e4e4e4;
    border: 1px solid #030a0c;
  }
  .button2:hover {
    color: #ffffff;
    background-color: #c64614;
    border: 1px solid #ffffff;
    box-shadow: 0 0 0 2px #c64614;
  }